<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Pose Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <p class="color-gradient-text heading">Biomimic</p>
    <p class="gradient-text sub-heading">AI Pose Estimation Gym Tracker</p>
    <div style="margin-top: 3rem;">
        <label for="exercise-select">Select Exercise:</label>
        <div class="exercise-select-container">
            <select class="dropdown" id="exercise-select">
                <option value="bicep_curl">Bicep Curl</option>
                <option value="squat">Squat</option>
                <option value="lateral_raise">Lateral Raise</option>
                <option value="shoulder_press">Shoulder Press</option>
            </select>
            <button class="btn-donate" onclick="changeExercise()">Start</button>
        </div>
    </div>

    <div class="wrapper">
        <div id="video-container">
            <img id="video-feed" src="{{ url_for('video_feed') }}">
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
