<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Pose Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>AI Pose Estimation Gym Tracker</h1>

    <label for="exercise-select">Select Exercise:</label>
    <select id="exercise-select">
        <option value="bicep_curl">Bicep Curl</option>
        <option value="squat">Squat</option>
    </select>
    <button onclick="changeExercise()">Start</button>

    <div id="video-container">
        <img id="video-feed" src="{{ url_for('video_feed') }}" style="height: auto; width:80%">
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
